.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffe475;
}
.cart-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cart-icon {
  height: 24px;
  width: 37px;
}
